<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{{style}}">
</head>
<body>
    <h1>Chat</h1>
    <input type="text" id="message" placeholder="Type your message">
    <ul id="mensajeLogs">
        <!-- Mensajes del chat se añadirán aquí -->
    </ul>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</body>
</html>
