<div id="chatContainer">
        <ul id="messagesList">
            {{#each messages}}
                <li><strong>{{this.user}}:</strong> {{this.message}}</li>
            {{/each}}
        </ul>
        <form id="chatForm">
            <input type="text" id="messageInput" placeholder="Enter your message" required>
            <button type="submit">Send</button>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
<script src="/js/chat.js"></script>