<div>
    <h1>chat</h1>
    <input type="text" name="message" id="message">
    <div >
<ul id="mensajeLogs">
    
</ul>
    </div>
</div>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>