
    <h1>Real-Time Products</h1>

    <div>
        <h2>add new product</h2>
        <form method="POST" action="addProductForm" enctype="multipart/form-data">
            <input type="text" id="title" placeholder="title" required>
            <input type="number" id="code" placeholder="code" required>
            <input type="number" id="price" placeholder="price" required>
            <input type="number" id="stock" placeholder="stock" required>
            <button type="submit">add product</button>
        </form>
    </div>
    <div>
        <h2>Products List</h2>
        <ul id="productsLis">
        {{#each products}}
            <li id="product-{{this.id}}">
                <h3>{{this.title}}</h3>
                <p>{{this.code}}</p>
                <p>${{this.price}}</p>
            </li>
        {{/each}}
        </ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realTimeProducts.js"></script>