
<h1>Real-Time Products</h1>

<div>
    <h2>Add New Product</h2>
    <form id="addProductForm" method="POST" enctype="multipart/form-data">
        <input type="number" id="code" placeholder="Code" required>
        <input type="number" id="price" placeholder="Price" required>
        <input type="number" id="stock" placeholder="Stock" required>
        <input type="text" id="title" placeholder="Title" required>
        <button type="submit">Add Product</button>
    </form>
</div>

<div>
    <h2>Products List</h2>
    <ul id="productsList">
        {{#each products}}
            <li id="product-{{this.id}}">
                <h3>{{this.title}}</h3>
                <p>{{this.code}}</p>
                <p>$ {{this.price}}</p>
            </li>
        {{/each}}
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
